= form_tag user_path(current_user), method: :get do
  = label_tag 'Time'
  = select_tag :time, options_for_select(Activity::TIMELINE), include_blank: true
  = submit_tag 'Submit'

- if params[:time].present?
  = @moves.daily_summary.first['summary'].last['steps']
  #container
:javascript
  // var svg = d3.select('body')
  //               .append('svg')
  //               .attr('width', 100)
  //               .attr('height', 100);
                
  // var circles = svg.selectAll('svg')
  //                  .data(5)
  //                  .enter()
  //                  .append('circle');
                   
  // circles.attr('cx', function(d, i){
  //     return i;
  //   })
  //   .attr('cy',function(d, i){
  //     return i;
  //   })
  //   .attr('r', function(d){
  //     return d;
  //   });
  d3.select('body').selectAll('#container').data(1).enter().append('p').text('dfiujnidj')
                
  
    
  

  
