<!DOCTYPE html>
<html>
<head>
  <title>Moves</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <nav class="navbar navbar-default" role="navigation">
    <a class="navbar-brand" href="#">Moves Visualisation</a>
    <% if signed_in? %>
      <%= link_to "Sign Out", signout_path, method: :delete, :class => 'pull-right' %></li>
    <% end %>
  </nav>
</head>
<body>
<div class="container-fluid">
  <%= yield %>
</div>

<%= debug(params) if Rails.env.development? %>

</body>
</html>
